<ul class="collection projects-list" data-collapsible="expandable">
  <% locals[:projects].each do |project| %>
    <li class="collection-item">
      <div class="collection-item__body">
        <i class="material-icons material-icons--error">report_problem</i>
        <%= project.name %>
        <%= link_to 'ADD CONFIG', edit_project_path(project), class: 'projects-list__item__action' %>
      </div>
    </li>
  <% end %>
</ul>
