<ul class="collapsible projects-list" data-collapsible="expandable">
  <% locals[:projects].each do |project| %>
    <li>
      <div class="collapsible-header">
        <i class="material-icons material-icons--success">done</i>
        <%= db_icon(project.db_connector) %>
        <%= project_line_item(project).html_safe %>
        <%= link_to 'EDIT CONFIG', edit_project_path(project), class: 'projects-list__item__action' %>
      </div>
      <div class="collapsible-body">
        <%= render 'backups/backups_list', locals: {backups: project.backups} %>
      </div>
    </li>
  <% end %>
</ul>
