<div id="notice"><%= notice %></div>

<% if @missing_config_projects.any? %>
  <section>
    <header>
      <h1>
        Missing configuration
      </h1>
    </header>

    <%= render 'projects_list', locals: { projects: @missing_config_projects} %>

  </section>
<% end %>

<% if @configured_projects.any? %>
  <section>
    <header>
      <h1>Applications backups</h1>
    </header>

    <%= render 'projects_collapsible_list', locals: { projects: @configured_projects} %>
  </section>
<% end %>
