<p id="notice"><%= notice %></p>

<h3>Applications backups</h3>

<ul class="collapsible" data-collapsible="accordion">
  <% @projects.each do |project| %>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
        <%= project.name %>
        <%= link_to 'EDIT CONFIG', edit_project_path(project) %>
      </div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  <% end %>
</ul>
