<ul class="collection with-header">
  <% locals[:backups].each do |backup| %>
    <li class="collection-item">
      <div class="collection-item__body">
        <i class="material-icons <%= status_icon_color_class(backup.status) %>"><%= backup_status_icon_name(backup) %></i>
        <%= backup_line_item(backup).html_safe %>
      </div>
    </li>
  <% end %>
</ul>
