@import "materialize/components/color";
$primary-color: color("blue", "darken-2") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';


.container {
  max-width: 800px;
}

body > .container {
  padding: 50px 0;
}

.nav-content {
  min-height: 250px;
  justify-content: center;

  h1 {
    font-size: 2.5em;
  }
}

.collection-item__body {
  display: block;
  line-height: 2rem;

  i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }
}

code {
  display: block;
  white-space: pre-wrap
}

section {
  margin: 4em 0;

  &:first-of-type {
    margin-top: 0;
  }

  header h1 {
    font-size: 24px;
    margin-bottom: 1.5em;
    margin-top: 0;
  }
}

.projects-list__item__action {
  float: right;
}

.material-icons--success {
  color: green;
}

.material-icons--error {
  color: red;
}

.autobus-instructions {
  margin-bottom: 4em;
}

.autobus-instructions__header {
  margin-bottom: 1em;
}
