@import "materialize/components/color";
$primary-color: color("blue", "darken-2") !default;
$secondary-color: color("blue", "base") !default;
@import 'materialize';

.nav-content {
  min-height: 250px;
  justify-content: center;

  h1 {
    font-size: 2.5em;
  }
}

.collection-item__body {
  display: block;
  line-height: 2rem;

  i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }
}

.section {
  header h1 {
    font-size: 24px;
    margin-bottom: 1.5em;
  }
}

.projects-list__item__action {
  float: right;
}

.material-icons--success {
  color: green;
}

.material-icons--error {
  color: red;
}
